@import '../base/variables.scss';

.gridProducts {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    row-gap: 30px;
    column-gap: 15px;    
    justify-content: center;
    grid-auto-rows: minmax(20px, auto);

    @media only screen and (min-width: $large-screen) {
        grid-template-columns: repeat(4, 0.1fr);
    }
    @media only screen and (max-width: $small-screen) {
        grid-template-columns: repeat(2, 0.1fr);
    }

    @media only screen and (max-width: $small-screen3) {
        grid-template-columns: 0.1fr;
    }

    .navigation {
        grid-column: span 3;
        @media only screen and (min-width: $large-screen) {
            grid-column: span 4;
        }

        @media only screen and (max-width: $small-screen) {
            grid-column: span 2;
        }

        @media only screen and (max-width: $small-screen3) {
            grid-column: span 1;
        }
    
    }

    &__card {
        border: 1px solid $color-border-card;
        border-radius: 3px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
        
        &--favorite {
            display: flex;
        }

        &--favorite.bookmarkIcon {
            justify-content: left;
            margin-top: 0.1px;
        }

        &--favorite.removeIcon {
            justify-content: right;
            margin-top: 2px;
            margin-right: 2px;
        }

        &--icon {
            position: relative;
            z-index: 2; 
            cursor: pointer;
        }

        &--infos {
            display: grid;
            gap: 20px;
            justify-items: center;
            padding: 0px 15px 25px 15px;
            z-index: 1;
            margin-top: -20px;
            grid-auto-rows: minmax(30px, auto);
        }

        &--infos.wishList {
            margin-top: -6px;
        }

        &--image {
            .product-img {
                height: 125px;
                width: auto;
            }
        }

        &--description {
            color: $font-color-detail1;
            font-family: $font-family-normal;
            font-size: $font-size;
            font-weight: bold;
        }

        &--price {
            color: $font-color-detail2;
            font-family: $font-family-normal;
            font-size: $font-size;
            font-weight: bold;
        }
    }
}