@import '../base/variables';

.navbar {
    border-radius: 0;
    padding: 15px 30px 15px 30px;
    background-color: $color-primary;
    color: $font-color-contrast;
    font-size: $font-size;
    font-family: $font-family-normal;
    font-weight: bold;
    border-top: 4px solid $color-primary-strong;

    display: grid;
    grid-template-columns: 2fr 2fr;

    @media only screen and (min-width: $large-screen) {
        grid-template-columns: 2fr 3fr;
    }

    &__options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: end;
        justify-items: end;
        margin-bottom: 10px;
        grid-column: span 4;

        @media only screen and (min-width: $large-screen) {
            grid-column: span 5;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            gap: 80px;
        }

        @media only screen and (max-width: $small-screen) {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0;
            justify-content: center;
            grid-template-rows: 1fr 1fr;

        }

        @media only screen and (max-width: $small-screen2) {
            grid-template-columns: 1fr;
            gap: 0;
            justify-content: center;
            grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr;
            align-items: center;
            justify-items: center;
            row-gap: 3px;

        }

        &--title {
            font-size: $font-size-title;
            font-family: $font-family-title;
            font-weight: normal;
            justify-self: start;

            @media only screen and (max-width: $small-screen) {
                grid-column: span 3;
                justify-self: center;
            }

            @media only screen and (max-width: $small-screen2) {
                grid-column: unset;
                //justify-self: left;
            }
        }

        &--city {
            justify-self: left;

            @media only screen and (min-width: $large-screen) {
                margin-left: 15px;
            }

            @media only screen and (max-width: $small-screen2) {
                margin-top: 5px;
                justify-self: center;
            }
        }

        &--wishlist {
            margin-right: 2px;
        }

        .options-icon {
            font-size: $font-size;
            margin-right: 3px;
        }

        a {
            color: $font-color-contrast;
        }
    }

    &__search {
        display: grid;
        align-items: end;
        grid-template-columns: 1fr 3fr;
        grid-column: span 4;

        @media only screen and (min-width: $large-screen) {
            grid-column: span 5;
            grid-template-columns: 2fr 3fr;

        }

        @media only screen and (max-width: $small-screen) {
            grid-template-columns: 4fr;
            //grid-column: span 4;
        }

        &--group {
            grid-column: 2;
            @media only screen and (max-width: $small-screen) {
                grid-column: unset;
            }
        }

        &--addon {
            background-color: $color-secondary;
        }

        &--input {
            border-left: 0;
            padding: 3px 8px 3px 3px;
            font-size: $font-size;
            box-shadow: none;
        }

        &--input:hover {
            box-shadow: none;

        }

    }

}