@use 'components/navbar';
@use 'components/navigation';
@use 'components/gridProducts';

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#content {
    padding-bottom: 50px;
    width: 100vw;
}