
$color-primary: #5a2f80;
$color-primary-strong: #37104f;
$color-secondary: #ffff;
$color-border-card: #e9e9e9;
$color-heart-favorite: #d0231e;

$font-color-contrast: #ffff;
$font-color-normal: #000000;
$font-color-detail1: #363636;
$font-color-detail2: #eec066;

$font-family-title: 'Arial Black';
$font-family-normal: 'Arial';
$font-size: 1rem;
$font-size-title: 1.5rem; 

$small-screen3: 375px;
$small-screen2: 440px;
$small-screen: 560px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

